{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }} {% else %} Produtos {% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="margin-top: 6%">

        <div class="col-sm-10 blog-main">
            <div class="blog-post">
                <div class="row">
                    {% for product in products %}
                    <div class="col-md-4 mb-3">
                        <div class="thumbnail card" align="center">
                            <a class="stretched-link" href="{{ product.get_absolute_url }}">
                                <div class="card-body">
                                    <img class="img-fluid" src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..." style="height: 130px; width: auto">
                                </div>

                                <div class="card-title">
                                    <h3 class="text-center">
                                        {{ product.name }}
                                    </h3>
                                </div>
                            </a>
                            <p class="text-center">R$ {{ product.price }}</p>


                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div><!-- /.blog-post -->
        </div><!-- /.blog-main -->

        <div class="col-sm-2 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module">
                <h4>Categorias</h4>
                <ol class="list-unstyled">
                    <li {% if not category %} class="active"{% endif %}><a href="{% url 'shop:product_list' %}">Todas</a></li>
                    {% for c in categories %}

                    <li {% if category.slug == c.slug %} class="active"{% endif %}>
                        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
{% endblock %}