{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    Seu carrinho de compras | Obrigado
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 6%">
            <div class="col-md-8 col-md-offset-2">
                <h3 class="page-header">Obrigado por comprar conosco
                </h3>
                <p>Seu pedido foi realizado com sucesso. Seu número de pedido é: <strong>{{ order.id }}</strong>.</p>
            </div>
        </div>
    </div>
{% endblock %}